/* Custom default button */
.btn {
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  color: #333;
  text-shadow: none;
  /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0) 0 8px 15px;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}

.btn_fear {
  font-weight: bold;
  transition: border-color 0.3s ease, transform 0.2s ease;
}

.btn_fear:hover {
  animation: shake 0.1s infinite alternate !important;
  box-shadow: rgb(251, 0, 0) 0 1px 18px;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-2px);
  }

  50% {
    transform: translateY(2px);
  }

  75% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0);
  }
}

/*
 * Base structure
 */

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'minezin';
  src: url('Monocraft.otf') format('opentype'), url('Monocraft.ttf') format('truetype');
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'minezin';
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  user-select: none;

  a {
    color: #fff;
  }
}

.site-wrapper {
  width: 100%;
  height: 100%;
  background-color: #333;
}

.topbar {
  width: 100%;
  height: 10%;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conteudo {
  width: 100%;
  height: 90%;
  display: flex;
}

.container-opcoes-jogo {
  width: 100%;
  height: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.container-jogo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .container-jogo-row {
    height: 28%;
    display: flex;
  }

  .tabuleiro {
    width: 100%;
    height: 44%;
  }

  /*
 * Dómino
 */

  .is-turno {
    .peca-container {
      padding: 4px !important;

    }
  }

  .is-turno#jogador-pecas {
    .peca-container:hover {
      /* box-shadow: rgba(0, 0, 0) 0 8px 15px; */
      transform: translateY(-10px);
    }

    .peca-container {
      .peca {
        cursor: pointer;
      }

      /* .peca:hover {
        box-shadow: 0 1px 15px #00562b5c, 0px 1px 15px #00562b5c;
      } */
    }
  }

  .peca-container {
    width: 12%;
    height: 100%;
    padding: 5px;
    max-width: 94px;

    .peca {
      background: #fff;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      padding: 5px;

      .peca_metade {
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }

      .p1 {
        border-bottom: 1px solid #000;
      }

      .vl_1 {
        background-image: url("./imagens/1.png");
      }

      .vl_2 {
        background-image: url("./imagens/2.png");
      }

      .vl_3 {
        background-image: url("./imagens/3.png");
      }

      .vl_4 {
        background-image: url("./imagens/4.png");
      }

      .vl_5 {
        background-image: url("./imagens/5.png");
      }

      .vl_6 {
        background-image: url("./imagens/6.png");
      }
    }
  }
}

/*
 * Genéricos
 */

.hidden {
  display: none !important;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.text-small {
  font-size: small;
}

.h-100 {
  height: 100% !important;
}

.h-90 {
  height: 90% !important;
}

.h-80 {
  height: 80% !important;
}

.h-70 {
  height: 70% !important;
}

.h-60 {
  height: 60% !important;
}

.h-50 {
  height: 50% !important;
}

.h-40 {
  height: 40% !important;
}

.h-30 {
  height: 30% !important;
}

.h-20 {
  height: 20% !important;
}

.h-10 {
  height: 10% !important;
}

.w-100 {
  width: 100% !important;
}

.w-90 {
  width: 90% !important;
}

.w-80 {
  width: 80% !important;
}

.w-70 {
  width: 70% !important;
}

.w-60 {
  width: 60% !important;
}

.w-50 {
  width: 50% !important;
}

.w-40 {
  width: 40% !important;
}

.w-30 {
  width: 30% !important;
}

.w-20 {
  width: 20% !important;
}

.w-10 {
  width: 10% !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}